@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.cdnfonts.com/css/gotham?styles=17581,17583,17585,17588");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: hidden;
}
.quill-container {
  overflow-x: hidden !important;
}
/* Reduce the width of the x-axis scrollbar for elements with the class .reviewcontainer */
.reviewcontainer::-webkit-scrollbar {
  height: 5px; /* Adjust the height as needed */
}

/* Optional: You can add additional styles to customize the appearance of the scrollbar */
.reviewcontainer::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.reviewcontainer::-webkit-scrollbar-thumb {
  background-color: #cccaca;
}

/* Optional: Handle on hover */
.reviewcontainer::-webkit-scrollbar-thumb:hover {
  background-color: #aaa9a9;
}
