@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.cdnfonts.com/css/gotham?styles=17581,17583,17585,17588");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: hidden;
}

/* Adjust the styles for the toolbar container */
.ql-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or 'space-around' based on your preference */
}

/* Adjust the styles for individual dropdown containers */
.ql-picker {
  margin-right: 10px; /* Adjust spacing between dropdowns */
}

/* Adjust the styles for individual dropdown items */
.ql-picker-item {
  white-space: nowrap; /* Prevent line breaks for long option names */
}
.ql-formats {
  height: 200px;
  border: 2px solid red;
  z-index: 100;
}
.ql-picker-options {
  height: auto;
}
